*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;c
	font-size: 10px;
}
ul {
	width: 2000px;
}
ul li {
	width: 400px;
	float: left;
	list-style-type: none;
}
#carousel {
	position: absolute;
  	left: 50%;
  	top: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 300px;
	overflow: hidden;
}